@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover {
  outline: 0px !important;
  box-shadow: none !important;
}

@media (max-width: 990px) {
  .active {
    color: red !important;
  }
  .pos {
    position: absolute !important;
    top: 0;
    width: 100% !important;
  }
  .link:focus,
  .nav-link:hover {
    color: #64e27d !important;
  }
  .navbar-position {
    position: absolute;
    top: 100%;
    background: #ffffff;
    right: 0%;
    width: 13rem;
    border-radius: 0.4rem;
    color: #000;
  }

  .link {
    display: flex;
    align-items: center;
  }
  .link a {
    color: #000;
  }
}

.font {
  font-family: "Mochiy Pop One", sans-serif;
}
